<footer>
  <ul class="fixed-bottom bg-primary text-dark nav justify-content-center font-monospace">
      <li class="nav-item font-monospace">
      <b>" Quoter "  Copyright  2021   Kevin   Steve   Nick</b>
      </li>
    </ul>
</footer>