  <footer>
      <ul class="fixed-bottom nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">" Quoter " Copyright 2021</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Kevin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Steve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" tabindex="-1" aria-disabled="true">Nick</a>
          </li>
        </ul>
  </footer>