<div>
    this is a home nav bar

    <button type="click" id=""></button>
    <a href="/newpost">create new post</a>


    <button id="logout-btn">logout</button>
</div>
    <script src="./js/logout.js"></script>