<div class="border border-dark rounded" id="centerbox">
    <div class="bg-dark px-2">
        <h2 class="text-light"></h2>  
    </div> 
    <div>
        <form class="new-post-form" id="new-post">
            <div class="form-group px-5">
                <label class="post-content" for="post-content"></label>
                <textarea class="form-control" name="post-content" id="post-content" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button  id="sub" class="btn btn-success btn-block px-5 py-3"  type="submit">submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newpost.js"></script>