<div class="border border-dark rounded">
    <div class="bg-dark px-2">
        <h2 class="text-light">New post</h2>  
    </div> 
    <div>
        <form class="new-post-form" id="new-post">
            <div class="form-group px-5">
                <label class="post-content" for="post-content">Content</label>
                <textarea class="form-control" name="post-content" id="post-content" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button class  ="btn btn-success btn-block px-5 py-3" type="submit">create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newpost.js"></script>