<div class="card mb-3">
    <div  class="card-header text-center px-2">
        <h2 class="text-dark">New Quote</h2>  
    </div> 
    <div class="card-body">
        <form class="new-post-form" id="new-post">
            <div class="form-group px-5">
                <label class="post-content" for="post-content">Quotes</label>
                <textarea class="form-control" name="post-content" id="post-content" cols="30" rows="10"></textarea>
            </div>
            <div class="d-flex justify-content-center my-2">
                <button class  ="btn btn-success btn-block px-5 py-3" type="submit">create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newpost.js"></script>