<body class ="bg-info">
<nav>
    <button type="button" class="thought-btn btn-light">Post</button>
</nav>
    <header>
        <div class="container">
          <div class=" jumbotron-fluid text-dark text-center">
            <div class="container">
              <h1 class="display-4" style="margin-top: 4rem;">" Quoter "</h1>
            </div>
          </div>
      </header>

      <container class="post">
        <div class="row justify-content-end col-2" style="margin-left: 50rem; margin-top: 3rem; height: 10rem;">
            <input type="form">
          5th post
        </div>
      </div>
    </container>

<container class="post">
        <div class="row justify-content-end col-2" style="margin-left: 50rem; margin-top: 1rem; height: 10rem;">
            <input type="form">
              4rd post
            </div>
</container>

<container class="post">
    <div class="row justify-content-end col-2" style="margin-left: 50rem; margin-top: 1rem; height: 10rem;">
        <input type="form">
          3rd post
        </div>
</container>

<container class="post">
        <div class="row justify-content-end col-2" style="margin-left: 50rem; margin-top: 1rem; height: 10rem;">
            <input type="form">
          2nd post
        </div>
      </div>
</container>

<container class="post">
    <div class="row justify-content-end col-2" style="margin-left: 50rem; margin-top: 1rem; height: 10rem;">
        <input type="form">
      First post
    </div>
  </div>
</container>







<footer>
  <ul class="fixed-bottom bg-primary text-dark nav justify-content-center font-monospace">
      <li class="nav-item font-monospace">
      <b>" Quoter "  Copyright  2021   Kevin   Steve   Nick</b>
      </li>
    </ul>
</footer>
</body>