
<div class="container">

    <div class="row">
        <div class="col-2">

        {{>home-nav}}

        </div>
        
        <div class="col-8" style="overflow: auto;">
            
        {{#each posts as |post|}}            
            {{>postcard post}}
        {{/each}}

        <script src="./js/likes.js"></script>
        </div>
        
        <div class="col-2">
        
        {{>followers}}

        </div>

    </div>

<div>




