
<div class="container">

    <div class="row">
        <div class="col-2">

        {{>home-nav}}

        </div>
        
        <div class="col-8">
        {{#each user.posts as |post|}}            
            {{>postcard post}}
        {{/each}}

        </div>
        
        <div class="col-2">
        
        {{>followers}}

        </div>

    </div>

<div>




