<form class="login">
  <div class="login-container justify-content-center">
    <div class="mb-3 row" style="width: 15rem; margin-left: 52rem; margin-top: 10rem;">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-12">
          <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email">
        </div>
    </div>
    <div class="mb-3 row" style="width: 15rem; margin-left: 52rem;">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm12">
          <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password">
        </div>
      </div>
      <div class="mb-3 row" style="width: 15rem; margin-left: 52rem;"> 
        <button type="submit" class="btn btn-outline-dark" style="margin-top: 1rem;">
          <i class="fas fa-sign-in-alt">Login</i>
        </button>
        <a href="/signup">Sign up</a>
      </div>
  </div>
</form>

<script src="./js/login.js"></script>  
