
<div class="container">
    <div class="row">

        <div class="col board">
        {{>home-nav}}

        </div>

        <div class="col board">
            
            <h2>here you are</h2>
            {{>newpostcard}}

        </div>

        <div class="col board">
        
        {{>followers}}

        </div>

    </div>

<div>




