<div class="container singupblock justify-content-center col-6 ">

    <h2>Sign up</h2>
    
    <form id="signupform">
        <div class="mb-3">
            <label for="signup-name" class="form-label">User name</label>
            <input type="text" name="signup-name" id="signup-name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="signup-email">Email </label>
            <input type="email" name="signup-email" id="signup-email" class="form-control">
        </div>
        <div class= "mb-3">
            <label for="signup-passowrd">Password</label>
            <input class="form-control" type="password" name="signup-password" id="signup-password" placeholder="password should be at least 8 Characters.">
        </div>

        <button type="submit" class="btn btn-primary form-control" id="signbtn"> Create User</button>

        <a href="/login">Login</a>
    </form> 

        <script src="./js/signup.js"></script>

</div>