<div class="container singupblock ">

    <h2>Sing up</h2>
    
    <form id="signupform">
        <div class="mb-3">
            <label for="signup-name" class="form-label">User name</label>
            <input type="text" name="signup-name" id="signup-name">
        </div>
        <div class="mb-3">
            <label for="signup-email"></label>
            <input type="email" name="signup-email" id="signup-email">
        </div>
        <div class= "mb-3">
            <label for="signup-passowrd"></label>
            <input type="password" name="signup-password" id="signup-password" placeholder="password should be at least 8 Characters.">
        </div>

        <button type="submit" class="btn" id="signbtn"> </button>

        <a href="/login">Login</a>
    </form> 

        <script src="./js/signup.js"></script>

</div>