h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #0d6efd;
}


#sub {
    margin-left: 22rem;
    background: #0d6efd;
    justify-content: center;
}

.quoter-menu {
    margin-left: 5rem;
}

.sidebar {
    display: flex;
    align-items: flex-start;
}
.info-nav {
    display: flex;
    justify-content: space-between;
}

button {
    border: none !important;
    cursor: pointer !important;
}

button:hover {
    background-color: rgb(78, 184, 178) !important;
    transition: all 0.3s ease 0s !important;
}